.comment_app{
    color:#666;
    width: 60%;
    margin: 0 20%;
    font-size: 16px;
}
.clear:after{
    content: "";
    display:block;
    width:0;
    height:0;
    clear:both;
    font-size:0;
    line-height:0;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.w20{
    width: 20%;
}
.w75{
    width: 75%;
}
.w100{
    width: 100%;
}
.comment_app .comment_input{
    position: relative;
    padding: 10px 15px;
    border-radius: 5px;
    display:inline-block;
    box-shadow: none;
    border: 1px solid #ccc;
    outline: none;
    margin: 10px;
    transition: all .3s;
    width: 100%;
    font-size:16px;
}
.comment_app .comment_content{
    height:150px;
}
.comment_app .comment_list li{
    width:100%;
    list-style: none;
    text-align: left;
    padding: 5px;
    border: 1px ridge #ccc;
}
.comment_app .comment_list li .comment_user{
    font-weight:bolder;
    margin-right: 10px;
}