
<style>
    .layui-upload-img{width: 270px; height: 148px; margin: 0 10px 10px 0;}
    .img_up{
        position: absolute;
        left: 60px;
        top:30px;
        text-align: center;
    }
    .img_up_parents{
        position: relative;
        display: inline-block;
    }
    .none_block {
        display: none;
    }
    .a_none{
        text-decoration:none;
        out-line: none;
        color: #43609c;
    }
    .img_span {
        display: block;
        width: 266px;
    }
    .rate_wrap_star{
        font-size: 22px;
        cursor: pointer;
    }
    .rate_wrap_star i.active{
        color: #c00;
    }
</style>
<!-- 模板引擎动态生成整体数据，主要为国际化语言服务 -->
<script id="globalData_index" type="text/html">
    <div id="globalData">

        <div id="uploadImgBox"  style="display: none;text-align: center;margin-left: 50px">

            <div class="layui-upload layui-row">
                <div class="img_up_parents layui-col-md3 uploadImg1" >
                    <input type="hidden" class="field" value="" name ="frontBillImg" id="imgNameUpload">
                    <div class="img_up">
                        <i class="layui-icon" style="font-size: 50px;margin-left: 10px"></i>
                        <label style="display: block;width: 160px"><span style="color: red">*</span>上传网银转账后的交易截图</label>
                    </div>
                    <img class="layui-upload-img">
                </div>
            </div>
            <div style="clear: both"></div>
            <input type="hidden" id="priceIdUpload" >
        </div>
        <!-- 搜索框，数据展示，分页 -->
        <div class="page-wrap">
            <div class="row" id='tablebox'  >
                <div class="col-lg-12">

                    <div class="panel panel-lined table-responsive mb30 ng-scope">
                        <!-- 搜索框 -->
                        <div class="panel-body" style="padding-bottom: 0px" id='searchData'>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">{{quoteTime}}</label>
                                    <div class="col-md-8 timeContent">
                                        <input autocomplete="off" type="text" class="form-control field" id='startTime' name="startTime" placeholder="{{startTime}}" value=""/>
                                        -
                                        <input autocomplete="off" type="text" class="form-control field" id='endTime' name="endTime" placeholder="{{endTime}}" value=""/>
                                        <input type="text" class="none_input" >
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div style="width:185px;">
                                            <span id="searchBtn" class="btn btn-primary pull-left fa fa-search">{{search}}</span>
                                            <span id="resetBtn" class="btn btn-warning pull-right fa fa-refresh">{{reset}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    <div class="panel panel-lined table-responsive mb30 ng-scope">
                        <div style="height:15px"></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped zCheckBox">
                                <thead class="thead">
                                <tr>
                                    <th>{{cpNo}}</th>
                                    <th>{{acceptor}}</th>
                                    <th>{{annual_interest_rate}}</th>
                                    <th>{{deducted}}</th>
                                    <th>{{quoteTurnVolume}}</th>
                                    <th>{{quoteTime}}</th>
                                    <th >{{matchTime}}</th>
                                    <th>{{quoteStatus}}</th>
                                    <th>{{operation}}</th>
                                </tr>
                                </thead>
                                <tbody id="globalDataQuoteTbody">
                                <tr>
                                    <td colspan="20" style="text-align: center;">{{loading}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- #end data table -->
                            <!-- 分页 -->
                            <div class="page">
                                <div class="pager_container" id="Pagination">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dataView" style="width: auto;"></div>
    </div>
    </div>
</script>

<script id="globalDataList_qutoed" type="text/html">
    {{if list && list.length > 0 }}
    {{each list as value i}}
    <tr _id="{{value.priceId}}">
        <td>{{value.cpNo}}</td>
        <td>{{value.acceptor}}</td>
        <td>{{value.approvalApr}}%</td>
        <td>{{value.deductAmount}}</td>
        <td>{{value.turnVolume | amountFormat}}</td>
        <td>{{value.quoteTime}}</td>
        <td>{{value.matchTime}}</td>
        <td>{{value.quoteStatus | quoteStatusFormat}}</td>
        <td style="min-width: 10px;">
            <span class="btn btn-sm btn-info fa fa-bars hoverBtnAll" btnAlltype="showCp" name="returnBtn" onclick="editCpInfo('{{value.cpId}}')" ></span>
            {{if value.quoteStatus == '01'}}
                <span class="btn btn-sm btn-danger fa fa-trash-o hoverBtnAll"  btnAlltype="cancelPrice"  name="returnBtn" onclick="delPriceId({{value.priceId}})" ></span>
            {{/if}}
            {{if value.quoteStatus == '02'}}
               <!-- {{if value.cpStatus =='02'}}
                    <span class="btn btn-sm btn-info fa fa-cloud-upload hoverBtnAll" btnAlltype="uploadBuyImg" name="returnBtn" onclick="uploadPicBox({{value.priceId}})" ></span>
                {{/if}}-->
            {{if value.buyBankImg == '01'}}
              <span class="btn btn-sm btn-primary"  onclick = "sureTrade({{value.priceId}},' {{value.cpNo}}')">确认交易</span>
            {{/if}}
            {{/if}}
        </td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td colspan="17" style="text-align: center;">{{1 | noData}}</td>
    </tr>
    {{/if}}
</script>

<script id="uploadImgInfo" type="text/html">


</script>

<script type="text/html" id="rate_wrap">
    <div style="padding: 20px 20px 50px;">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-4" style="text-align:right;">
                评价：
            </div>
            <div class="col-md-8 rate_wrap_star" style="color: #eee" id="rate_wrap_star">
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="text-align:right;">
                其他信息：
            </div>
            <div class="col-md-8">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        
        
    </div>
</script>

<script type="text/html" id="ticketDetail">
    <div style="padding: 0 20px 20px;font-size: 16px;">
        <div style="margin-bottom:20px;">
            <img src="{{frontBillImg}}" style="width: 150px;max-height: 150px;" onclick="showPhoto('{{frontBillImg}}')">
        </div>
        <div>
            <h3 style="color: #232333;margin-bottom: 10px;">基本信息</h3>
            <div>
                <div class="clear" style="padding:5px">
                    <div style="width: 50%;" class="fl">
                        <span style="width: 30%;color:#232333;">承兑人：</span>
                        <span style="width: 70%;word-break: break-all;">{{acceptor}}</span>
                    </div>
                    <div style="width: 50%;" class="fl">
                        <span style="width: 30%;color:#232333;">到期日：</span>
                        <span style="width: 70%;">{{dueDate}}</span>
                        <span style="color: #c00">(剩余{{dateDiff}}天)</span>
                    </div>
                </div>
                <div class="clear" style="padding:5px">
                    <div style="width: 50%;" class="fl">
                        <span style="width: 30%;color:#232333;">票面金额：</span>
                        <span style="width: 70%;color: #c00;font-size: 20px;">{{cpAmount}}元</span>
                    </div>
                    <div style="width: 50%;" class="fl">
                        <span style="width: 30%;color:#232333;">背书次数：</span>
                        <span style="width: 70%;">{{endorseTimes}}</span>
                    </div>
                </div>
                <div class="clear" style="padding:5px">
                    <div style="width: 50%;" class="fl">
                        <span style="width: 30%;color:#232333;">票据号码：</span>
                        <span style="width: 70%;word-break: break-all;">{{cpNo}}</span>
                    </div>
                    <div style="width: 50%;" class="fl">
                        <span style="width: 30%;color:#232333;">票据瑕疵：</span>
                        <span style="width: 70%;word-break: break-all;">{{cpDefect}}</span>
                    </div>
                </div>
                <div class="clear" style="padding:5px">
                    <p style="color:#232333;margin-bottom: 5px;">卖出价：</p>
                    <div style="width: 33.33%;" class="fl">
                        <span style="color:#232333;margin-bottom: 5px;">每十万扣款:</span>
                        <span>{{deductAmount}}元</span>
                    </div>
                    <div style="width: 33.33%;" class="fl">
                        <span style="color:#232333;margin-bottom: 5px;">年化利率:</span>
                        <span>{{approvalApr}}%</span>
                    </div>
                    <div style="width: 33.33%;" class="fl">
                        <span style="color:#232333;margin-bottom: 5px;">金额:</span>
                        <span>{{turnVolume}}元</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</script>

<script>

    //iframe 跳转时候，登录过期，则提示重新登录
    function iframeGotoLogin(){
        layer.closeAll();

        layer.alert('请重新登录',
            function(){
                    sessionStorage.removeItem('data');
                    location.href='login.html';
                });
                setTimeout(function (argument) {
                    sessionStorage.removeItem('data');
                    location.href='login.html';
                },5000);
    }

    function rateFn(cpNo){
        var clickIndex = 5;
        $("#dataView").html(template("rate_wrap", {}));

        $("#dataView .rate_wrap_star i").on('click', function(){
            var index = $(this).index();
            clickIndex = index + 1;
            $("#dataView .rate_wrap_star i").removeClass('active');
            for(var i = 0; i <= index; i++){
                $("#dataView .rate_wrap_star i").eq(i).addClass('active');
            }
        })
        $.zOpen({
            title: '评价',
            ele: "#dataView",
            btn:['确认'],
            callback: function(){

                $.zAjax({
                    url:  project.host()+'/v1/comment',
                    type: 'post',
                    isString: true,
                    data: {
                        cpNo: $.trim(cpNo),
                        score: clickIndex,
                        // createTime: new Date().getTime(),
                        createPerson: 'createPerson',
                        remark: $.trim($("#dataView textarea").val())
                    },
                    success: function(res){
                        if(res.code == 0){
                            layer.closeAll();
                            layer.msg('评价成功！');
                        }else{
                            layer.msg(res.errMsg);
                        }
                    } 
                })
                
            },
            close: function(){
                $("#dataView").html('');
            }
        })
    }

    //确认交易按钮，需要弹出框询问是否同意交易
    function sureTrade(priceId, cpNo) {
        
        layer.confirm('您即将确认此笔交易', {
            btn: ['确认','取消'] //按钮
        }, function(){
            $.zAjax({
                url: project.host()+'/v1/quotedPrice/upload' ,
                isString:false,
                data:{
                    id:  priceId,
                    imageName:"02",
                    type:"0"
                },
                type:'post',
                success: function(data) {
                    if(data.code == 0){

                        layer.closeAll();
                        layer.msg("已确认",{icon:1});
                        var data=$.zResetFn(globalData.data,'#searchData .field');
                        globalData.getData(data);

                        //弹出评价
                        rateFn(cpNo);
                    }else{
                        layer.closeAll();
                        layer.msg(data.errMsg,{icon:1});

                    }

                }
            });
        }, function(){
            layer.closeAll();
        });
    }
    function uploadPicBox(priceId) {
        $("#priceIdUpload").val(priceId);

        layer.open({
            type: 1,
            title:"上传图片",
            area: ['400px', '280px'],
            content: $("#uploadImgBox"),  //  加载主体内容
            btn:["确定","取消"],
            yes:function(index, layero){
                var imgNameUpload = $("#imgNameUpload").val();
                if(imgNameUpload==""){
                    layer.alert('请上传图片');
                    return ;
                }
                $.zAjax({
                    url: project.host()+'/v1/quotedPrice/upload' ,
                    isString:false,
                    data:{
                        id:  $("#priceIdUpload").val(),
                        imageName:imgNameUpload,
                        type:"0"
                    },
                    type:'post',
                    success: function(data) {
                        if(data.code == 0){

                            layer.closeAll();
                            layer.msg("上传成功",{icon:1});
                        }else{
                            layer.closeAll();
                            layer.msg(data.errMsg,{icon:1});

                        }

                    }
                });
             },
            btn1:function (index, layero) {
                layer.closeAll();
            }
        });
    }

    function delPriceId(_id) {
        $.zAjax({
            url: project.host()+'/v1/quotedPrice/cancle/'+_id ,
            isString:true,
            type:'delete',
            success: function(data) {
                if(data.code == 0){
                    layer.closeAll();
                    layer.msg(lang.getData('cancelSucess'),{icon:1});
                    $('#searchBtn').click();
                }else{
                    layer.closeAll();
                    layer.msg(data.errMsg,{icon:1});
                    $('#searchBtn').click();
                }

            }
        });
    }

    function showPhoto(img){
        layer.photos({
            photos: {
              "title": "",
              "id": 1234,
              "start": 0,
              "data": [
                {
                  "alt": "票据正面图片",
                  "pid": 1003,
                  "src": img,
                  "thumb": ""
                }
              ]
            }
            ,anim: 5,
            id:123
        });
    }

    function editCpInfo(_id) {
         $.zAjax({
            url: project.host()+'/v1/commercialPaper/paper/'+_id ,
            type:'get',
            success: function(data) {
                if(data.code == 0){
                    data.data.frontBillImg = project.host() + '/v1/images/mos/' + data.data.frontBillImg;
                    data.data.dateDiff = $.dateDiff($.calNowDate() ,data.data.dueDate);
                    data.data.cpAmount = $.zFormatMoney(data.data.cpAmount);
                    data.data.turnVolume = $.zFormatMoney(data.data.turnVolume);
                    data.data.deductAmount = $.zFormatMoney(data.data.deductAmount);
                    $("#dataView").html(template('ticketDetail', data.data));
                    layer.open({
                        title: '查看商票',
                        anim: 5,
                        type: 1,
                        btn:['确认'],
                        callback: function(){
                            layer.closeAll();
                        },
                        area: ['800px', '500px'],
                        fixed: true, //不固定
                        maxmin: false,
                        // content: 'blank.html#/cpPublish?type=show&cpId='+_id,
                        content: $("#dataView"),
                        end: function(){
                            $("#dataView").html('');
                        }
                    });
                }
                
            }
        });
       
    }

    //定义全局对象
    var globalData = {


        init : function() {
            //生成整体数据，主要为国际化语言服务
            $('#main').prepend(template('globalData_index', $.dataLanguage()));
            //页面初始化默认请求表格数据
            this.getData(globalData.data);
            //调用所有事件
            this.event();

            var _paramsArr =$.packageUploadStr("uploadImgBox","uploadImg1");
            $.uploadBillImg(_paramsArr[0],_paramsArr[1],_paramsArr[2]);
        },

        //定义全局请求参数对象
        data : {
            pageNum : 1,
            pageSize : 10
        },
        getData : function(data) {
            $.zAjax({
                url : project.host() + '/v1/quotedPrice',
                data : data,
                type : 'get',
                isString : false,
                success : function(data) {
                    var list = data;
                    var total = list.pageInfo.total;
                    /**
                     * 调用分页方法
                     * @param obj.page    分页元素
                     * @param obj.url     接口
                     * @param obj.tp      模板元素
                     * @param obj.ele     填充数据元素
                     * @param obj.data    请求参数
                     * @param obj.list    请求返回数据
                     */
                    $.zPageMethod({
                        page : '#Pagination',
                        url : project.host() + '/v1/quotedPrice',
                        tp : 'globalDataList_qutoed',
                        ele : '#globalDataQuoteTbody',
                        total : total,
                        data : globalData.data,
                        list : list
                    });
                }
            });
        },
        event : function() {
            // 调用日期插件
            laydate.render({
                elem: '#startTime',
                show:false,
                lang:$.getLayDateLang(),
            });  // 调用日期插件
            laydate.render({
                elem: '#endTime',
                show:false,
                lang:$.getLayDateLang(),
            });

            //搜索按钮事件
            $('#searchBtn').click(function(){
                var data=$.zSearchFn(globalData.data,'#searchData .field');
                globalData.getData(data);
            });


            $('#resetBtn').click(function(){
                var data=$.zResetFn(globalData.data,'#searchData .field');
                globalData.getData(data)
            });

        }
    }
    $(document).ready(function() {

        globalData.init();
    });





</script>