<!-- index样式 -->
<style type="text/css">

    .layui-upload-img{width: 270px; height: 148px; margin: 0 10px 10px 0;}
    .img_up{
        position: absolute;
        left: 60px;
        top:30px;
        text-align: center;
    }
    .img_up_parents{
        position: relative;
        display: inline-block;
    }
    .none_block {
        display: none;
    }
    .a_none{
        text-decoration:none;
        out-line: none;
        color: #43609c;
    }
    .img_span {
        display: block;
        width: 266px;
    }
.iteam div {
	height: 30px;
	width: 100px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
	margin-left: 0.1PX;
	margin-right: 0.1in;
	margin-top: 0.1in;
	margin-bottom: 0.1in;
}

.iteam {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #EEEEEE;
}

input {
	border: 1px solid #ccc;
	padding: 7px 0px;
	border-radius: 3px;
	padding-left: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6)
}

.colorBlock {
	width: 20px;
	height: 20px;
	background: brown;
}

h5 {
	margin-right: 20px;
	width: 100px;
	margin-left: 30px;
}
.icon{
            display : inline-block;
            width:7px;
            height:9px;
            background-image: url(../assets/images/sort.png);
            background-position: center center;
            background-repeat:no-repeat;
            background-size:cover;
        }
        .outer{
            width: 1210px;
            height: 500px;
           // border: 1px solid #cccccc;
            margin: 0 auto;
        }
        .outer-right{
            width: 1160px;
            height: 500px;
           // border: 1px solid #cccccc;
            //margin: 0 auto;
            float:right;
        }
        .outer-left{
            width: 50px;
            height: 500px;
           // border: 1px solid #cccccc;
            //margin: 0 auto;
            float:left;
            position:relative;
        }
        .inner_left{
            width: 700px;
            height: 500px;
            float: left;
            border: 1px solid #cccccc;
            background-position: center center;
            background-repeat:no-repeat;
            background-size:cover;
            position:relative;

        }
        .inner-right{
            width: 450px;
            height: 500px;
            float: right;
           // border: 1px solid #cccccc;
        }
        .inner-right_top{
            height: 190px;
        }
        .tableStyle  {
            width: 450px;

        }
        td{
            border: 1px solid #cccccc;
        }
        tr{
            //border: 1px solid #cccccc;
            height:38;
        }
        .inner-right_mid{
            width: 450px;
            height: 150px;
            margin-top: 5px;
            border: 1px solid #cccccc;
            display: flex;
        }
        .inner-right_down{
        	width: 450px;
            height: 75px;
            margin-top: 5px;
            border: 1px solid #cccccc;
        
        }
        .buttomBtn{
	        height: 35px;
			width: 450px;
			line-height: 35px;
			background-color: #409eff;
			border-radius: 10px;
	        text-align: center;
	        margin-top:10px;
	        color:black;
        
        }
        .iconChange{

            height:100px;

            width:100px;

           // border-style:solid;

            //border-color:blue;

           // border-width:10px;

            //background-color:yellow;

            position:absolute;

            top:40px;

            left:40px;
            border: 1px solid #cccccc;

        }
           
		#frontPic{ 
		    position:absolute;
		    z-index:100;
		    background-position: center center;
            background-repeat:no-repeat;
            background-size:cover;
            width: 700px;
            height: 500px;}    
		/* div背景色为红色 */    
		#reversePic{ 
			position:absolute;
			z-index:80;background:#FF0;
			background-position: center center;
            background-repeat:no-repeat;
            background-size:cover;
            width: 700px;
            height: 500px;}
		/* 背景为黄色 */    
		#frontBtn{ position:absolute;z-index:100;width:50px;height:80px;text-align:center; line-height:40px;box-shadow: darkgrey 5px 5px 60px 5px ;border-radius:8px 0px 0px 8px;font-family:微软雅黑;letter-spacing:1px;
					}    
		/* div背景色为红色 */    
		#reverseBtn{ position:absolute;top:80px;z-index:180;background:rgb(145, 166, 242);width:50px;height:80px;text-align:center; line-height:30px;border-radius:6px 0px 0px 6px;box-shadow:darkgrey 5px 5px 60px 5px;}    
		/* 背景为黄色 */
</style>
<!-- 模板引擎动态生成整体数据，主要为国际化语言服务 -->
<script id="globalData_index" type="text/html">

    <div id="uploadImgBox"  style="display: none;text-align: center;margin-left: 50px">

        <div class="layui-upload layui-row">
            <div class="img_up_parents layui-col-md3 uploadImg1" >
                <input type="hidden" class="field" value="" name ="frontBillImg" id="imgNameUpload">
                <div class="img_up">
                    <i class="layui-icon" style="font-size: 50px;margin-left: 10px"></i>
                    <label style="display: block;width: 160px"><span style="color: red">*</span>上传背书转让截图</label>
                </div>
                <img class="layui-upload-img">
            </div>
        </div>
        <div style="clear: both"></div>
        <input type="hidden" id="priceIdUpload" >
    </div>
        <div id="dataView" >
            <div class="panel-body">
                <table class="table table-bordered table-striped zCheckBox">
                    <thead class="thead">
                    <tr>
                        <th >{{companyName}}</th>
                        <th>{{quoteTurnVolume}}</th>
                        <th>{{quoteTime}}</th>
                        <th >{{matchTime}}</th>
                        <th>{{quoteStatus}}</th>
                        <th>{{operation}}</th>
                    </tr>
                    </thead>
                    <tbody id="globalDataQuoteTbody">
                    <tr>
                        <td colspan="20" style="text-align: center;">{{loading}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <div id="globalData">

        <!-- 搜索框，数据展示，分页 -->
        <div class="page-wrap">
            <div class="row" id='tablebox'  >
                <div class="col-lg-12">

                    <div class="panel panel-lined table-responsive mb30 ng-scope">
                        <!-- 选择按钮 -->
						<div class="iteam" id="divGroup1">
        					<h5>■ 票据金额</h5>
        					<div id="underThound" onclick="colorLine1(this.id)">10万以下</div>
        					<div id="thoundToOneMillion" onclick="colorLine1(this.id)">10-100万</div>
        					<div id="moreOneMillion" onclick="colorLine1(this.id)">100万以上</div>
        					<div id="moreFiveMillion" onclick="colorLine1(this.id)">500万以上</div>
        					<input type="text" placeholder="最低金额(万元)" id="faceValueMin" onblur="regText(this.id)">
        					<p>-</p>
        					<input type="text" placeholder="最高金额(万元)" id="faceValueMax" onblur="regText(this.id)">
        					<span id="searchBtnLineOne" class="btn btn-primary pull-left fa fa-search" onclick="findLineOne()">{{search}}</span>
   					    </div>

						<div class="iteam" id="divGroup2">
    						<h5>■ 剩余天数</h5>
   						 <div id="lessThanNinety" onclick="colorLine2(this.id)">90天内</div>
    						<div id="ninetyToHundredEighty" onclick="colorLine2(this.id)">90-180天</div>
   						 <div id="hundredEightyToThreeHundredsixty" onclick="colorLine2(this.id)">180-360天</div>
  						  <input type="text" placeholder="最少天数" id="daysMin"   onblur="regText(this.id)">
  						  <p>-</p>
  						  <input type="text" placeholder="最多天数" id="daysMax"   onblur="regText(this.id)">
  						  <span id="searchBtnLineTwo" class="btn btn-primary pull-left fa fa-search" onclick="findLineTwo()">{{search}}</span>
						</div>
						<div class="iteam" id="divGroup3">
    						<h5>■ 瑕疵</h5>
    						<div id="Y" onclick="colorLine3(this.id)">有瑕疵</div>
    						<div id="N" onclick="colorLine3(this.id)">无瑕疵</div>
						</div>

                       <div style="height:15px"></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped zCheckBox">
                                <thead class="thead">
                                <tr>
                                    <th id="createTimeSort">{{releaseTime}}<i class="icon"></th>
									<th>{{acceptor}}</th>
                                    <th>{{cpDefect}}</th>
                                    <th id="amountSort">{{cpAmount}}<i class="icon"></th>
                                    <th id="dueDateSort">{{dueDate}}<i class="icon"></th>
                                    <th >{{actualTime}}</th>
                                    <th >{{cpStatus}}</th>
                                    <th>{{operation}}</th>
                                </tr>
                                </thead>
                                <tbody id="globalDataTbody">
                                <tr>
                                    <td colspan="20" style="text-align: center;">{{loading}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- #end data table -->
                            <!-- 分页 -->
                            <div class="page">
                                <div class="pager_container" id="Pagination">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</script>

<!-- 模板引擎动态生成表格数据 -->
<script id="globalDataList_ticket" type="text/html">
    {{if list && list.length > 0 }}
    {{each list as value i}}
    <tr _id="{{value.cpId}}">
		<td>{{value.createTime }}</td>
		<td>{{value.acceptor}}</td>
        <td>{{value.cpDefect}}</td>
        <td>{{value.cpAmount | amountFormat}}</td>
        <td>{{value.dueDate}}
            {{if value.stringDate >0}}
                 <span class="badge badge-success">剩余{{value.stringDate }}天</span>
                {{else}}
                <span class="badge badge-danger">已失效</span>
            {{/if}}
        </td>
        <td>{{value.actualTime}}</td>
        <td>{{value.cpStatus | cpStatusFormat}}</td>
        <td style="min-width: 10px;line-height: 50px">
            <span class="btn btn-sm btn-primary"  onclick = "showImg('{{value.frontBillImg}}','正面')">正面票据</span>
            <span class="btn btn-sm btn-primary"  onclick = "showImg('{{value.backBillImg}}','反面',{{value.cpId}})">反面票据</span>


            <span class="btn btn-sm btn-info fa fa-list-alt  hoverBtnAll" btnAlltype="biddingInfo"  id="click{{value.cpId}}"  onclick="showList({{value.cpId}},{{value.stringDate}},{{value.cpStatus}})"  ></span>

        <!--    {{if value.cpStatus == '01'}}
                {{if value.stringDate >0}}
                        <span class="btn btn-sm btn-warning editBtn fa fa-edit hoverBtnAll"  btnAlltype="editCp" onclick="editCpInfo({{value.cpId}})"  ></span>

                     {{else}}
                        <span class="btn btn-sm btn-warning editBtn fa fa-bars hoverBtnAll"  btnAlltype="showCp"  onclick="showCpInfo({{value.cpId}})"  ></span>
                {{/if}}
                    <span class="btn btn-sm btn-danger fa fa-trash-o hoverBtnAll" btnAlltype="cancelCp"  onclick="delCpId({{value.cpId}})" ></span>

                {{else}}
                  <span class="btn btn-sm btn-warning editBtn fa fa-bars  hoverBtnAll" btnAlltype="showCp"   onclick="showCpInfo({{value.cpId}})"  ></span>
            {{/if}}-->
            <span class="btn btn-sm btn-warning editBtn fa fa-bars hoverBtnAll"  btnAlltype="showCp"  onclick="showCpInfo({{value.cpId}})"  ></span>
            {{if value.cpStatus == '04'}}
                 <span class="btn btn-sm btn-danger fa fa-trash-o hoverBtnAll" btnAlltype="cancelCp"  onclick="delCpId({{value.cpId}})" ></span>
            {{/if}}
 			{{if value.cpStatus == '05'}}
                {{if value.stringDate > 0}}
			        	<span class="btn btn-sm btn-warning editBtn fa fa-edit hoverBtnAll"  btnAlltype="editCp" onclick="editCpInfo({{value.cpId}})"  ></span>
                  {{/if}}
            {{/if}}
            {{if value.cpStatus == '03'}}
                 {{if value.stringDate > 0}}
                 <span class="btn btn-sm btn-warning editBtn fa fa-edit hoverBtnAll"  btnAlltype="editCp" onclick="editCpInfo({{value.cpId}})"  ></span>
                 {{/if}}
            {{/if}}
            {{if value.cpStatus == '02'}}

           <!-- <span class="btn btn-sm btn-info fa fa-cloud-upload hoverBtnAll" btnAlltype="uploadSaleImg" name="returnBtn" onclick="uploadPicBox({{value.cpId}})" ></span>-->
            {{if value.saleSureImg == '01'}}
              <span class="btn btn-sm btn-primary"  onclick = "sureTrade({{value.cpId}})">确认交易</span>
            {{/if}}
            {{/if}}
        </td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td colspan="17" style="text-align: center;">{{1 | noData}}</td>
    </tr>
    {{/if}}
</script>
<script id="globalDataList_qutoed" type="text/html">
    {{if list && list.length > 0 }}
    {{each list as value i}}
    <tr _id="{{value.priceId}}">
		<td>{{value.companyName }}</td>
		<td>{{value.turnVolume}}</td>
        <td>{{value.quoteTime}}</td>
        <td>{{value.matchTime}}</td>
        <td>{{value.quoteStatus | quoteStatusFormat}}</td>
        <td style="min-width: 10px;">
            {{if value.quoteStatus == '01'}}
                {{if cpStatus =='04'}}
                    {{if dueDate > 0}}
                        <span class="btn btn-sm btn-info fa fa-check hoverBtnAll"  btnAlltype="selectUser" onclick="doPrice({{value.priceId}},{{value.cpId}})" ></span>
                        <span class="btn btn-sm btn-danger fa fa-circle-o-notch hoverBtnAll" btnAlltype="refuseUser" onclick="doRefuse({{value.priceId}},{{value.cpId}})" ></span>
                    {{/if}}
                {{/if}}
            {{/if}}
        </td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td colspan="17" style="text-align: center;">{{1 | noData}}</td>
    </tr>
    {{/if}}
</script>



<script>


    var quteListLen = 0;
    var qute_dueDate = '';
    var qute_cpStatus = '';

    //确认交易按钮，需要弹出框询问是否同意交易
    function sureTrade(cpId) {
        layer.confirm('您即将确认此笔交易', {
            btn: ['确认','取消'] //按钮
        }, function(){
            $.zAjax({
                url: project.host()+'/v1/quotedPrice/upload' ,
                isString:false,
                data:{
                    id:  cpId,
                    imageName:"02",
                    type:"1"
                },
                type:'post',
                success: function(data) {
                    if(data.code == 0){

                        layer.closeAll();
                        layer.msg("已确认",{icon:1});
                        globalData.getData();
                    }else{
                        layer.closeAll();
                        layer.msg(data.errMsg,{icon:1});

                    }

                }
            });
        }, function(){
            layer.closeAll();
        });
    }
    function uploadPicBox(priceId) {
        $("#priceIdUpload").val(priceId);

        layer.open({
            type: 1,
            title:"上传图片",
            area: ['400px', '280px'],
            content: $("#uploadImgBox"),  //  加载主体内容
            btn:["确定","取消"],
            yes:function(index, layero){
                var imgNameUpload = $("#imgNameUpload").val();
                if(imgNameUpload==""){
                    layer.alert('请上传图片');
                    return ;
                }
                $.zAjax({
                    url: project.host()+'/v1/quotedPrice/upload' ,
                    isString:false,
                    data:{
                        id:  $("#priceIdUpload").val(),
                        imageName:imgNameUpload,
                        type:"1"
                    },
                    type:'post',
                    success: function(data) {
                        if(data.code == 0){

                            layer.closeAll();
                            layer.msg("上传成功",{icon:1});
                        }else{
                            layer.closeAll();
                            layer.msg(data.errMsg,{icon:1});

                        }

                    }
                });
            },
            btn1:function (index, layero) {
                layer.closeAll();
            }
        });
    }
    function doPrice(priceId,cpId,isSure) {
        if(!isSure){
            isSure = "no" ;
        }
        //向后台发起请求
        $.zAjax({
            url: project.host()+'/v1/commercialPaper/bidding/' ,
            isString:false,
            type:'put',
            data:{
              'priceId':priceId, 'cpId':cpId,
              'priceCount':quteListLen, 'isSure':isSure
            },
            success: function(data) {
                //runSuccess
                if(data.code==0){
                    layer.closeAll();
                    layer.msg(lang.getData('runSuccess'),{icon:1});
                    globalData.getData();
                }else if(data.code == 200013){
                    layer.confirm('有人针对此张票有最新报价，是否确认报价成交？', {
                        btn: ['确认','取消'] //按钮
                    }, function(){
                        doPrice(priceId,cpId,"yes")
                    }, function(){
                        layer.closeAll();
                        globalData.getData();
                       // console.log("开始触发click事件");
                        //$("#click"+cpId).trigger("click");

                     //  setTimeout(showList(cpId,qute_dueDate,qute_cpStatus),3000);
                    });
                }


            }
        });

    }
    function doRefuse(priceId,cpId) {
        //向后台发起请求
        $.zAjax({
            url: project.host()+'/v1/quotedPrice/refuse/'+priceId ,
            isString:false,
            type:'put',
            success: function(data) {
                //runSuccess
                layer.closeAll();
                layer.msg(lang.getData('runSuccess'),{icon:1});
                globalData.getData();

            }
        });

    }
    function showList(_id,_dueDate,_cpStatus) {

        $.zAjax({
            url: project.host()+'/v1/quotedPrice/detail/'+_id ,
            isString:false,
            type:'get',
            success: function(data) {

                var list={}
                list['list'] = data.data;
                quteListLen =data.data.length;
                qute_dueDate =_dueDate;
                qute_cpStatus =_cpStatus;
                list['dueDate'] = _dueDate;
                list['cpStatus'] = _cpStatus;
                $("#globalDataQuoteTbody").html(template("globalDataList_qutoed", list));

                layer.open({
                    type: 1,
                    title:"竞价公司",
                    area: ['auto', 'auto'],
                    shadeClose: true,
                    content: $("#dataView")
                });
            }
        });

    }
    function delCpId(_id) {
        $.zAjax({
            url: project.host()+'/v1/commercialPaper/paper/'+_id ,
            isString:true,
            type:'delete',
            success: function(data) {
                layer.closeAll();
                layer.msg(lang.getData('cancelSucess'),{icon:1});
                globalData.getData();
            }
        });
    }
    //编辑
    function editCpInfo(_id) {
        layer.open({
            title: '编辑商票',
            anim: 5,
            type: 2,
            area: ['100%', '100%'],
            fixed: false, //不固定
            maxmin: false,
            content: 'blank.html#/cpPublish?type=edit&cpId='+_id
        });
    }
    function showCpInfo(_id) {
        layer.open({
            title: '查看商票',
            anim: 5,
            type: 2,
            area: ['100%', '100%'],
            fixed: false, //不固定
            maxmin: false,
            content: 'blank.html#/cpPublish?type=show&source=my&cpId='+_id
        });
    }
    function showImg(_img,name,_cpId) {
        if(_cpId){
            $.zAjax({
                url: project.host()+'/v1/commercialPaper/paper/'+_cpId ,
                type:'get',
                success: function(data) {
                    var _src = project.host() + '/v1/images/' + _img;
                    var jsonstr ='{"title": "","id": 1234,"start": 0,"data": [{"alt": "'+name+'","pid": 1002,"src": "'+_src+'","thumb": ""}';
                    var imageList = data.data["imageList"];
                    for (var i=0;i<imageList.length;i++) {
                        console.log(imageList[i]["imageName"]);
                        jsonstr = jsonstr+",";
                        var  _str_temp =  project.host() + '/v1/images/' + imageList[i]["imageName"];
                        jsonstr =jsonstr + '{"alt": "'+name+'","pid": 1002,"src": "'+_str_temp+'","thumb": ""}';

                    }
                    jsonstr = jsonstr+']}';
                    console.log(jsonstr);
                    var json = $.parseJSON(jsonstr);
                    layer.photos({
                        photos: json
                        ,anim: 5,
                        id:123
                    });
                }
            });
            return ;
        }
        var _src = project.host() + '/v1/images/' + _img;
        var jsonstr ='{"title": "","id": 1234,"start": 0,"data": [{"alt": "'+name+'","pid": 1002,"src": "'+_src+'","thumb": ""}]}';
        var json = $.parseJSON(jsonstr);
        layer.photos({
            photos: json
            ,anim: 5,
            id:123
        });
    }

	//定义全局对象
	var globalData = {
		name : {
			zh_cn : '票据',
			en_us : 'Ticket',
			zh_cht : '票据'
		},

		init : function() {
			//生成整体数据，主要为国际化语言服务
			$('#main').prepend(template('globalData_index', $.dataLanguage()));
			//页面初始化默认请求表格数据
			this.getData(globalData.data);
			//调用所有事件
			this.event();
            var _paramsArr =$.packageUploadStr("uploadImgBox","uploadImg1");
            $.uploadBillImg(_paramsArr[0],_paramsArr[1],_paramsArr[2]);
		},

		//定义全局请求参数对象
		data : {
			pageNum : 1,
			pageSize : 10
		},
		getData : function() {
			$("#ticketDetailPage").css("display","none");
			var data = globalData.data;
			data = $.extend(data, {
				"flaw_id" : sessionStorage.getItem('flaw_id')
			}, {
				"faceValueMin" : sessionStorage.getItem('faceValueMin')
			}, {
				"faceValueMax" : sessionStorage.getItem('faceValueMax')
			}, {
				"daysMin" : sessionStorage.getItem('daysMin')
			}, {
				"daysMax" : sessionStorage.getItem('daysMax')
			}, {
				"credit_id" : sessionStorage.getItem('credit_id')
			},{
				'amountSort':sessionStorage.getItem('amountSort')
			},{
				'dueDateSort':sessionStorage.getItem('dueDateSort')
			},{
				'createTimeSort':sessionStorage.getItem('createTimeSort')})
			$.zAjax({
				url : project.host() + '/v1/commercialPaper',
				data : data,
				type : 'get',
				isString : false,
				success : function(data) {
					var list = data;
					console.log(data)
					var total = list.pageInfo.total;
					/**
					 * 调用分页方法
					 * @param obj.page    分页元素
					 * @param obj.url     接口
					 * @param obj.tp      模板元素
					 * @param obj.ele     填充数据元素
					 * @param obj.data    请求参数
					 * @param obj.list    请求返回数据
					 */
					$.zPageMethod({
						page : '#Pagination',
						url : project.host() + '/v1/commercialPaper',
						tp : 'globalDataList_ticket',
						ele : '#globalDataTbody',
						total : total,
						data : globalData.data,
						list : list
					});
				}
			});
		},
		event : function() {
			//排序
			$('#createTimeSort').click(function() {
				sessionStorage.setItem('dueDateSort',"");
				sessionStorage.setItem('amountSort',"");
				if(sessionStorage.getItem('createTimeSort')==""){
					sessionStorage.setItem('createTimeSort',"1");
				}else{
					sessionStorage.getItem('createTimeSort')=="0"?sessionStorage.setItem('createTimeSort',"1"):sessionStorage.setItem('createTimeSort',"0");
				}
				globalData.getData();
			})
			$('#amountSort').click(function() {
				sessionStorage.setItem('createTimeSort',"");
				sessionStorage.setItem('dueDateSort',"");
				if(sessionStorage.getItem('amountSort')==""){
					sessionStorage.setItem('amountSort',"1");
				}else{
					sessionStorage.getItem('amountSort')=="0"?sessionStorage.setItem('amountSort',"1"):sessionStorage.setItem('amountSort',"0");
				}
				globalData.getData();
			})
			$('#dueDateSort').click(function() {
				sessionStorage.setItem('amountSort',"");
				sessionStorage.setItem('createTimeSort',"");
				if(sessionStorage.getItem('dueDateSort')==""){
					sessionStorage.setItem('dueDateSort',"1");
				}else{
					sessionStorage.getItem('dueDateSort')=="0"?sessionStorage.setItem('dueDateSort',"1"):sessionStorage.setItem('dueDateSort',"0");
				}
				globalData.getData();
			})
		}
	}
	$(document).ready(function() {
		//初始化
		sessionStorage.setItem('faceValue_id', '');
		sessionStorage.setItem('remainingDays_id', '');
		sessionStorage.setItem('flaw_id', '');
		sessionStorage.setItem('credit_id', '');
		sessionStorage.setItem('faceValueMax', '');
		sessionStorage.setItem('faceValueMin', '');
		sessionStorage.setItem('daysMin', '');
		sessionStorage.setItem('daysMax', '');
		sessionStorage.setItem('createTimeSort', '0');
		globalData.init();
	});
	function colorLine1(id) {
		var faceValue_id = "";
		sessionStorage.setItem('faceValueMax', '');
		sessionStorage.setItem('faceValueMin', '');
		if (id !== "") {
			faceValue_id = id;
			if ($("#" + id).css("background-color") == "rgb(145, 166, 242)") {
				$("#" + id).css("background-color", "white");
				faceValue_id = "";
				$("#faceValueMin").val('');
				$("#faceValueMax").val('');
				//sessionStorage.setItem('faceValue_id','');

			} else {
				$("#divGroup1 div").css("background-color", "white");//别的div变成白色
				$("#" + id).css("background-color", "#91a6f2");//被点击的变蓝色
				$("#faceValueMin").val('');
				$("#faceValueMax").val('');
				if (id == "underThound") {
					$("#faceValueMax").val(10);
					sessionStorage.setItem('faceValueMin', $("#faceValueMin").val()==""?"":$("#faceValueMin").val()*10000);
					//sessionStorage.setItem('faceValueMax', $("#faceValueMax").val()==""?"":$("#faceValueMax").val()*10000);
                    sessionStorage.setItem('faceValueMax', $("#faceValueMax").val()==""?"":$("#faceValueMax").val()*10000-0.000000001);
				}
				if (id == "thoundToOneMillion") {
					$("#faceValueMax").val(100);
					$("#faceValueMin").val(10);
					sessionStorage.setItem('faceValueMin', $("#faceValueMin").val()==""?"":$("#faceValueMin").val()*10000);
					sessionStorage.setItem('faceValueMax', $("#faceValueMax").val()==""?"":$("#faceValueMax").val()*10000);
				}
				if (id == "moreOneMillion") {
					$("#faceValueMin").val(100);
                    sessionStorage.setItem('faceValueMin', $("#faceValueMin").val()==""?"":$("#faceValueMin").val()*10000+0.000000001);
					sessionStorage.setItem('faceValueMax', $("#faceValueMax").val()==""?"":$("#faceValueMax").val()*10000);

				}
				if (id == "moreFiveMillion") {
					$("#faceValueMin").val(500);
                    sessionStorage.setItem('faceValueMin', $("#faceValueMin").val()==""?"":$("#faceValueMin").val()*10000+0.000000001);
					sessionStorage.setItem('faceValueMax', $("#faceValueMax").val()==""?"":$("#faceValueMax").val()*10000);
				}

			}
		}
		sessionStorage.setItem('faceValue_id', faceValue_id);
		//var data = $.zSearchFn1(obj);
		//console.log("****************" + data);
		globalData.getData();
		//alert(id);
		// console.log("line1----"+sessionStorage.getItem('faceValue_id'));
		//console.log("line2----"+sessionStorage.getItem('remainingDays_id'));
		// console.log("line3----"+sessionStorage.getItem('flaw_id'));

	}

	function colorLine2(id) {
		var remainingDays_id = id;
		sessionStorage.setItem('daysMin', '');
		sessionStorage.setItem('daysMax', '');
		if ($("#" + id).css("background-color") == "rgb(145, 166, 242)") {
			$("#" + id).css("background-color", "white");
			remainingDays_id = "";
			$("#daysMin").val('');
			$("#daysMax").val('');

		} else {
			$("#divGroup2 div").css("background-color", "white");//别的div变成白色
			$("#" + id).css("background-color", "#91a6f2");//被点击的变蓝色
			$("#daysMin").val('');
			$("#daysMax").val('');
			if (id == "lessThanNinety") {
				$("#daysMax").val(90);
				sessionStorage.setItem('daysMin', $("#daysMin").val());
				sessionStorage.setItem('daysMax', $("#daysMax").val());
			}
			if (id == "ninetyToHundredEighty") {
				$("#daysMin").val(90);
				$("#daysMax").val(180);
				sessionStorage.setItem('daysMin', $("#daysMin").val());
				sessionStorage.setItem('daysMax', $("#daysMax").val());
			}
			if (id == "hundredEightyToThreeHundredsixty") {
				$("#daysMin").val(180);
				$("#daysMax").val(360);
				sessionStorage.setItem('daysMin', $("#daysMin").val());
				sessionStorage.setItem('daysMax', $("#daysMax").val());
			}

		}
		sessionStorage.setItem('remainingDays_id', remainingDays_id);
		globalData.getData();
	}

	function colorLine3(id) {
		var flaw_id = id;
		if ($("#" + id).css("background-color") == "rgb(145, 166, 242)") {
			$("#" + id).css("background-color", "white");
			flaw_id = "";

		} else {
			$("#divGroup3 div").css("background-color", "white");//别的div变成白色
			$("#" + id).css("background-color", "#91a6f2");//被点击的变蓝色

		}
		if(flaw_id=="Y"){
			flaw_id='1';
		}else if(flaw_id=="N"){
			flaw_id='0';
		}
		sessionStorage.setItem('flaw_id', flaw_id);
		globalData.getData();
	}


	function findLineOne() {
		if(!compare("faceValueMin","faceValueMax")){
			return;
		}
		sessionStorage.setItem('faceValue_id', '');
		$("#divGroup1 div").css("background-color", "white");
		sessionStorage.setItem('faceValueMin', $("#faceValueMin").val()==""?"":$("#faceValueMin").val()*10000);
		sessionStorage.setItem('faceValueMax', $("#faceValueMax").val()==""?"":$("#faceValueMax").val()*10000);
		globalData.getData();
	}

	function findLineTwo() {
		if(!compare("daysMin","daysMax")){
			return;
		}
		sessionStorage.setItem('remainingDays_id', '');
		$("#divGroup2 div").css("background-color", "white");
		sessionStorage.setItem('daysMin', $("#daysMin").val());
		sessionStorage.setItem('daysMax', $("#daysMax").val());
		globalData.getData();
	}
	//输入框校验
	function  regText(id){
        var reg=/^\+?[1-9][0-9]*$/;
        if(!(reg.test($("#"+id).val()))&&$("#"+id).val()!=""){
            $("#"+id).val("");
            $("#"+id).focus();
            return;
        }else if(reg.test($("#"+id).val())&&$("#"+id).val()<0){
            $("#"+id).val("");
            $("#"+id).focus();
            return;
        }
        
    }
	function compare(minId,maxId){
		var result=true;
        if($("#"+minId).val()!=""&&$("#"+maxId).val()!=""){
            if($("#"+minId).val()>$("#"+maxId).val()){
                $("#"+minId).val("");
                $("#"+maxId).val("");
                $("#"+minId).focus();
                result=false ;
            }
        }
        return result;
    }
	//倒计时总秒数量
   
        
    
</script>