* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body,
html {
    font-size: 20px;
    height: 100%;
    color: #333;
    -webkit-tap-highlight-color: transparent;
    background: #fff;
}

body {
    font-size: .65rem;
    line-height: 1.6;
    overflow-x: hidden;
    background-color:rbg(247,251,252);
}

a,
button,
.click-active {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.clear:after{
    content:'';
    display: block;
    font-size: 0;
    width: 0;
    height: 0;
    clear: both;
}
.m-t-5{
    margin-top: 5px;
}
.p-t-5{
    padding-top: 5px;
}
.p-l-29{
    padding-left: 29px;
}
.p-tb-md{
    padding: 10px 0;
}
.color-666{
    color: #666!important;
}
.border-top-ddd{
    border-top: 1px solid #ddd;
}

.font-normal{
    font-weight: normal!important;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
#app{
    background: #f5f5f5;
}

/*重写复选框勾选样式*/
.am-list .check_point.am-list-item.am-checkbox-item{
    margin-left: -.26rem;
}
.am-list .check_point.am-list-item.am-checkbox-item .am-list-thumb{
    width: .35rem;
    height: .35rem;
}
.check_point.am-list-item{
    padding-left: .24rem;
    margin-left: 4%;
}
.check_point.am-list-item .am-list-thumb:first-child{
    margin-right: .24rem;
}
.check_point .am-checkbox .am-checkbox-inner{
    width: .35rem;
    height: .35rem;
    margin-top: 2px;
}
.check_point .am-checkbox.am-checkbox-checked .am-checkbox-inner{
    border-color: #6EB7F8;
}
.check_point .am-checkbox-inner::after{
    content: '';
    width: 0;
    height: 0;
}
.check_point .am-checkbox.am-checkbox-checked .am-checkbox-inner::after{
    content: '';
    border: none;
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    margin: auto;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    background: #6EB7F8;
    transition: all .3s;
}
.check_point.am-list-item .am-list-line .am-list-content{
    font-size: 14px;
    color: #666;
}
.welfare_info .am-wingblank .am-list .am-list-body p{
    text-align: left!important;
}
video{
    border: 1px solid #f5f5f5;
}
img{
    max-width: 100%;
}
video::-internal-media-controls-download-button {
    display:none;
}
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
video::-webkit-media-controls-panel {
    width: calc(100% + 5px);
}

audio::-internal-media-controls-download-button {display:none;}
audio::-webkit-media-controls {overflow: hidden !important}
audio::-webkit-media-controls-enclosure {width: calc(100% + 20px);}