@font-face {
    font-family: 'anticon';
    src: url('./font/font_1457169990_5499172.eot');
    /* IE9*/
    src: url('./font/font_1457169990_5499172.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./font/font_1457169990_5499172.woff') format('woff'), /* chrome、firefox */
    url('./font/font_1457169990_5499172.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./font/font_1457169990_5499172.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.am-list-view-scrollview-content .am-list-body {
    background: none !important;
    border: none !important;
}

.am-list-view-scrollview-content .am-list-body:after {
    display: none !important;
}

.am-search {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    flex: 1
}

.am-list-header {
    padding: 0 !important;
    font-size: initial !important;
    color: initial !important;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.am-action-sheet-button-list {
    max-height: 380px;
    overflow: auto;
}

.am-list-footer {
    padding: 0px;
}
